venv
.git
models
temp_audio.wav
video.mp4
review_report.txt
wav2vec2_checkpoints
transcript.txt
review*/
__init__.py
__pycache__
backend/temp/
backend/.env
frontend/node_modules/
frontend/.svelte-kit/
frontend/.env
*.egg-info
dist/
build/
models*
