# Core AI Models
faster-whisper
speechbrain
transformers
ollama

# Audio & Math
librosa
numpy
torch
torchaudio

# Environment
python-dotenv

fastapi
uvicorn
python-multipart
matplotlib
scipy
scikit-learn
soundfile
